<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957690518461-pkbc5st7t0vhkh6h90vkkk709qgkkrsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957690518461-pkbc5st7t0vhkh6h90vkkk709qgkkrsf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>957690518461-8pmvgs2oa3ro3jel9qipg2hfnv8ubg8k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPytIL9qHjZYHzd3x2_M_bNTotvLfXYKo</string>
	<key>GCM_SENDER_ID</key>
	<string>957690518461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.schooleverywhere.innovation</string>
	<key>PROJECT_ID</key>
	<string>innovation-6ee0b</string>
	<key>STORAGE_BUCKET</key>
	<string>innovation-6ee0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957690518461:ios:d727228d3b4e410c5710d4</string>
	<key>DATABASE_URL</key>
	<string>https://innovation-6ee0b.firebaseio.com</string>
</dict>
</plist>