<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727402805038-v8kn63cd9k1jdmhd076su49ejni77nfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727402805038-v8kn63cd9k1jdmhd076su49ejni77nfp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>727402805038-6rd8c960rm5nheejl1ludcpdq54eqg2s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOJ1H5o94lv0DARYUyihd7LUkhDSAmsMA</string>
	<key>GCM_SENDER_ID</key>
	<string>727402805038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.schooleverywhere.alrowad</string>
	<key>PROJECT_ID</key>
	<string>alrowad-71e1b</string>
	<key>STORAGE_BUCKET</key>
	<string>alrowad-71e1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727402805038:ios:a30a3ce29cf02e22bb6cbf</string>
</dict>
</plist>